@page "/signin"
@page "/"
@inherits SignInBase
@layout UnAuthLayout

<div class="sign-form">
    <p class="welcome-text">Hello @(String.IsNullOrEmpty(User.UserName) ? "User" : User.UserName) - Today is @Day!</p>

    <EditForm EditContext="EditContext" OnSubmit="OnSubmit">

        <DataAnnotationsValidator />

        @*<input type="text" class="sign-input form-control" placeholder="Username" @onchange="HandleUserNameChanged"/>*@

        @*<InputText type="text" class="sign-input form-control" placeholder="Username" @bind-Value="User.UserName" />*@ <!-- Data Binding -->
        @*<ValidationMessage For="@(() => User.UserName)" />*@

        @*<InputText type="password" class="sign-input form-control" placeholder="Password" @bind-Value="User.Password"/>
            <ValidationMessage For="@(() => User.Password)" />*@

        <!-- Using ValidationInput component -->
        @*<ValidationInput ValueChangedCallBack="HandleUserNameValueChanged" Value="@Username"></ValidationInput>*@

        <div class="sign-validation">
            <ValidationInput placeholder="Username"
                             @bind-Value="@User.UserName"
                             Error="@GetError(() => User.UserName)"></ValidationInput>
        </div>


        <div class="sign-validation">
            <ValidationInput type="@(ShowPassword ? "text" : "password" )"
                             placeholder="Password"
                             @bind-Value="@User.Password"
                             Error="@GetError(() => User.Password)"></ValidationInput> <!-- 2 way data binding using "bind-Value"-->
            <br />
            <input type="checkbox" @bind="ShowPassword" />&nbsp; Show password
        </div>


        @*<ValidationSummary />*@ <!-- No need if used ValidationMessage for InputText -->

        <button class="sign-button btn btn-primary" type="submit">Sign In</button>

    </EditForm>

    <div class="signup">
        @*<a href="@(User.UserName != null ? "/signup?userName=" + User.UserName : "/signup")">Sign Up</a>*@ <!-- 1st way : use query param -->
        <a href="@(User.UserName != null ? "/signup?username=" + User.UserName : "/signup")">Sign Up</a> <!-- 2nd way : use route param -->
    </div>
</div>
